/*=================================*/
/*=====      COMMON CSS      ======*/
/*=================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

.container{
    width: 95%;
    max-width: 1360px;
    margin: 0 auto;
}



.cta_btn{
    background-color: #30B868;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 0.1px solid #333;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
}

.cta_btn:hover{
    background-color: #F95555;
}

.cta_btn_2{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border: 0.1px solid #fff;
    border-radius: 5px;
    font-size: 18px;
}

.cta_btn_2:hover{
    background-color: #F95555;
}



/*=================================*/
/*===== HEADER SECTION STYLES ======*/
/*=================================*/
header{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul{
    list-style: none;
    width: 445px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav ul li a{
    color: #333;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    padding: 11px;
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: #30B868;
    color: white;
}


/*=================================*/
/*===== HERO SECTION STYLES ======*/
/*=================================*/

.hero_section{
    text-align: center;
    padding: 100px 0;
    background-image: url("../images/hero_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   

.hero_content h6{
    font-size: 20px;
    color: #30B868;
    background: #fff;
    margin: 20px 0;
    border-radius: 51px;
    display: inline-block;
    padding: 15px 40px;
}

.hero_content h1, .hero_content h2{
    font-size: 72px;
    color: #fff;
    font-weight: 700;
    padding: 11px;
}

.hero_content h2{
    color: #30B868;
}

.hero_content p{
    font-size: 20px;
    color: #ffffff;
    padding: 10px 0;
}

.hero_cta_container{
    padding: 50px;
}

.hero_cta_container a{
    margin: 50px;
}




/*=================================*/
/*===== CARD SECTION STYLES ======*/
/*=================================*/

.card_section{
    text-align: center;
    padding: 100px 0 0 0;
    background-color: #FBFBFB;
    margin-bottom: 150px;
}

.card_section h1{
    font-size: 36px;
    text-transform: capitalize;
    color: #333;
    font-weight: 700;
}
.card_section p{
    font-size: 16px;
    color: #627382;
    margin-top: 10px;
}

.cards_container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    width: 300px;
}


.card img{
    width: 80px;
    border-radius: 40px;
    margin: 60px 0 10px;
    padding: 20px;
    background-color: #F95555;
}

.card h3{
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}









/*=================================*/
/*===== SOLUTION SECTION STYLES ======*/
/*=================================*/

.solution_section{
    display: flex;
}
.solution_image{
    width: 50%;
}

.solution_content{
    text-align: left;
    padding: 50px 100px 50px 0;
    width: 50%;
    background-color: #fff;
}

.solution_content h6{
    font-size: 16px;
    text-transform: uppercase;
    color: #30B868;
    font-weight: 500;
    padding: 11px;
    text-align: left;
}
.solution_content h1{
    font-size: 48px;
    color: #333;
    font-weight: 700;
    padding: 11px 0;
    margin-bottom: 10px;
}

.solution_content p{
    font-size: 16px;
    color: #627382;
    line-height: 1.6;
    margin-bottom: 20px;
}

.solution_content ul{
    list-style: none;
    margin-top: 50px;
}
.solution_content ul li{
}

.solution_content ul li img{
    display: inline-block;
    width: 20px;
    margin-right: 15px;
}

.solution_content ul li p{
    display: inline-block;
    font-size: 16px;
    color: #000;
}



/*=================================*/
/*===== FOOTER SECTION STYLES ======*/
/*=================================*/
footer{
    background-color: #001931;
    padding: 100px 0;
}

.footer_nav{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}


.footer_nav h4{
    color: white;
    font-size: 20px;
}

.footer_nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer_nav ul li a{
    text-decoration: none;
    font-size: 16px;
}

.footer_social li a{
    display: inline-block;
    background: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}

.footer_social li a:hover{
    background-color: #F95555;
}

.footer_social li a img{
    width: 30px;
    height: 30px;
    padding: 5px;
}

.copyrights{
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 50px;
}